@CHARSET "ISO-8859-1";

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #9ebedf;
    color: #333333;
}

.panel.callout1 {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #548dc6;
    color: #333333;
}

.panel.callout2 {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #d9e6f2;
    color: #333333;
}

p.frist {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
}

p.second {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #1466b8;
}

.tabs{
       line-height: 7px;
}

#time_widget{
    padding-top: 11px;
}

#coluna{
    padding-left: 2px;
}

#LetraBt{
    color: #ffffff;
    font-size: 18px;
}

#FontTitle{
    color: white;
    text-align: center;
}

#DivInformativo{
    border-style: solid;
    border-width: 1px;
}
#DivTransfSenha{
    border-style: solid;
    border-width: 1px;
}
#DivConteudo{
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
}



#DivEspera{
    border-style: solid;
    border-width: 1px;
}

#senhaBackGround{
    background-color: #01579b;
}

#SenhaFont{
    color: white;
}
#FontCategoria{
    text-align: center;
    color: white;
}
#TextoSenha{
    text-align:center;
    font-size: small;
    line-height: 7px;
}
#TextoSenhaCR{
    background-color: black;
    color: white;
    text-align: center;
}
#TextoSenhaSenha{
    text-align: center;
    font-size: xx-large;
}

#CabeçalhoQuiosque{
    background-color: #333333;
}

#RodapeQuiosque{
    background-color: #333333;
    bottom: 0;
    position:absolute;
}

#opçoes1{
    background: #4fc3f7;
    -webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
}
#opçoes2{
    background: #4fc3f7;
    -webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
}
#opçoes3{
    background: #4fc3f7;
    -webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
}
#opçoes4{
    background: #4fc3f7;
    -webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
    box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.72);
}

#LBotao{
 font-size: 12px;
}

#DivAllContent{
    overflow: scroll;
}
#footer{
   position: absolute;
}

#gap_footer{
   bottom: 0;
   height: 55px;
   background-color: #1a1a1a;
}

#DivBotoes{
    border-style: solid;
    border-width: 1px;
}

#BtChamar{
    background-color: #388e3c;
}
#BtChamarPS2{
    background-color: #40c4ff;
}
#BtIntervalo{
    background-color: #5c6bc0;
}
#BtTerminar{
    background-color: #bf360c;
}
#BtRechamar{
    background-color: #388e3c;
}
#BtTransferir{
    background-color: #40c4ff;
}
#BtEspera{
    background-color: #01579b;
}
#BtTerminarsenha{
    background-color: #5c6bc0;
}
#BtDesistir{
    background-color: #bf360c;
}
#botaoVoltar{
    background-color: #b71c1c;
}


#loadingDiv{
    visibility: hidden;
}


.button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }


#time_widget{
  padding-top: 10px;
}

#coluna{
     padding-left: 2px;
}

#RodapeNoticias{
    background-color: #333333;
}

#noticias{
    color: white;
}

#PainelTop{
    background: #1a237e;
}

#PainelLeft{
    background-color: #4fc3f7;
}

#PainelSenhaBalcao{
    background: #82b1ff;
}